<?xml version='1.0' encoding='utf-8'?>
<!-- 
 *  
 * REMEDIATE THE FLAG
 * Copyright 2018 - Andrea Scaduto 
 * remediatetheflag@gmail.com
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://mysqlhost:3306/dbRTF</property>
		<property name="connection.username">RTFGlobalDBUser</property>
		<property name="connection.password">MYSQL_GLOBAL_PASSWORD</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">400</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Names the annotated entity class -->
		<mapping class="com.remediatetheflag.global.model.Timezone" />
		<mapping class="com.remediatetheflag.global.model.Country" />
		<mapping class="com.remediatetheflag.global.model.Team" />
		<mapping class="com.remediatetheflag.global.model.User" />
		<mapping class="com.remediatetheflag.global.model.UserFailedLogins" />
		<mapping class="com.remediatetheflag.global.model.UserAuthenticationEvent" />
		<mapping class="com.remediatetheflag.global.model.Notification" />
		<mapping class="com.remediatetheflag.global.model.Trophy" />
		<mapping class="com.remediatetheflag.global.model.AchievedTrophy" />
		<mapping class="com.remediatetheflag.global.model.RTFGateway" />
		<mapping class="com.remediatetheflag.global.model.RTFInstanceReservation" />
		<mapping class="com.remediatetheflag.global.model.GuacTempUser" />
		<mapping class="com.remediatetheflag.global.model.RTFECSContainerTask" />
		<mapping
			class="com.remediatetheflag.global.model.RTFECSTaskDefinitionForExerciseInRegion" />
		<mapping class="com.remediatetheflag.global.model.RTFECSTaskDefinition" />
		<mapping class="com.remediatetheflag.global.model.AvailableExercise" />
		<mapping class="com.remediatetheflag.global.model.AvailableExerciseInfo" />
		<mapping class="com.remediatetheflag.global.model.AvailableExerciseInfoText" />
		<mapping
			class="com.remediatetheflag.global.model.AvailableExerciseSolutionFile" />
		<mapping
			class="com.remediatetheflag.global.model.AvailableExerciseReferenceFile" />
		<mapping
			class="com.remediatetheflag.global.model.AvailableExercisesForOrganization" />
		<mapping class="com.remediatetheflag.global.model.Flag" />
		<mapping class="com.remediatetheflag.global.model.FlagQuestion" />
		<mapping class="com.remediatetheflag.global.model.FlagQuestionHint" />
		<mapping class="com.remediatetheflag.global.model.Challenge" />
		<mapping class="com.remediatetheflag.global.model.ExerciseInstance" />
		<mapping class="com.remediatetheflag.global.model.ExerciseResult" />
		<mapping class="com.remediatetheflag.global.model.ExerciseResultFile" />
		<mapping class="com.remediatetheflag.global.model.ExerciseScore" />
		<mapping class="com.remediatetheflag.global.model.Feedback" />
		<mapping class="com.remediatetheflag.global.model.Organization" />
		<mapping
			class="com.remediatetheflag.global.model.InvitationCodeForOrganization" />
		<mapping class="com.remediatetheflag.global.model.SupportedAWSRegion" />

	</session-factory>
</hibernate-configuration>
