<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 *  
 * REMEDIATE THE FLAG
 * Copyright 2018 - Andrea Scaduto 
 * remediatetheflag@gmail.com
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>RTF Global</display-name>
	<session-config>
		<session-timeout>60</session-timeout>
		<cookie-config>
			<name>RTFSESSION</name>
			<http-only>true</http-only>
			<!--<secure>COOKIE_FLAG</secure>-->
		</cookie-config>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/500.html</location>
	</error-page>
	<error-page>
		<location>/500.html</location>
	</error-page>
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>com.remediatetheflag.global.servlets.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ManagementFilter</filter-name>
		<filter-class>com.remediatetheflag.global.servlets.ManagementFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ManagementFilter</filter-name>
		<url-pattern>/management/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>com.remediatetheflag.global.servlets.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/management/admin/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>RTFAdminFilter</filter-name>
		<filter-class>com.remediatetheflag.global.servlets.RTFAdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RTFAdminFilter</filter-name>
		<url-pattern>/management/rtfadmin/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>StatsFilter</filter-name>
		<filter-class>com.remediatetheflag.global.servlets.MonitorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StatsFilter</filter-name>
		<url-pattern>/management/stats/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ReviewerFilter</filter-name>
		<filter-class>com.remediatetheflag.global.servlets.ReviewerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ReviewerFilter</filter-name>
		<url-pattern>/management/reviewer/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>TeamManagerFilter</filter-name>
		<filter-class>com.remediatetheflag.global.servlets.TeamManagerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TeamManagerFilter</filter-name>
		<url-pattern>/management/team/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.remediatetheflag.global.servlets.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.remediatetheflag.global.servlets.AppContextListener</listener-class>
	</listener>
	<servlet>
		<description>HServlet</description>
		<servlet-name>HServlet</servlet-name>
		<servlet-class>com.remediatetheflag.global.servlets.HServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HServlet</servlet-name>
		<url-pattern>/hservlet/handler</url-pattern>
	</servlet-mapping>	
	<servlet>
		<description>AdminServlet</description>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.remediatetheflag.global.servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/management/admin/handler</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>RTFAdminServlet</description>
		<servlet-name>RTFAdminServlet</servlet-name>
		<servlet-class>com.remediatetheflag.global.servlets.RTFAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RTFAdminServlet</servlet-name>
		<url-pattern>/management/rtfadmin/handler</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>StatsServlet</description>
		<servlet-name>StatsServlet</servlet-name>
		<servlet-class>com.remediatetheflag.global.servlets.MonitorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatsServlet</servlet-name>
		<url-pattern>/management/stats/handler</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>ReviewerServlet</description>
		<servlet-name>ReviewerServlet</servlet-name>
		<servlet-class>com.remediatetheflag.global.servlets.ReviewerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewerServlet</servlet-name>
		<url-pattern>/management/reviewer/handler</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>UnauthServlet</description>
		<servlet-name>UnauthServlet</servlet-name>
		<servlet-class>com.remediatetheflag.global.servlets.UnauthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnauthServlet</servlet-name>
		<url-pattern>/handler</url-pattern>
	</servlet-mapping>
		<servlet>
		<description>ImageServlet</description>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.remediatetheflag.global.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/user/image</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>UserServlet</description>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.remediatetheflag.global.servlets.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user/handler</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>TeamManagerServlet</description>
		<servlet-name>TeamManagerServlet</servlet-name>
		<servlet-class>com.remediatetheflag.global.servlets.TeamManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeamManagerServlet</servlet-name>
		<url-pattern>/management/team/handler</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
</web-app>