<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2.5.xsd"
	version="2.5">
	<description>VulnerableApp</description>
	<display-name>VulnerableApp</display-name>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<listener>
		<listener-class>utils.ConfigurationUtil</listener-class>
	</listener>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>handlers.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/logged/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>UserHandler</description>
		<servlet-name>UserHandler</servlet-name>
		<servlet-class>handlers.UserHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserHandler</servlet-name>
		<url-pattern>/logged/userHandler</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>AuthenticationHandler</description>
		<servlet-name>AuthenticationHandler</servlet-name>
		<servlet-class>handlers.AuthenticationHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationHandler</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
		<servlet>
		<description>TestHandler</description>
		<servlet-name>TestHandler</servlet-name>
		<servlet-class>handlers.TestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestHandler</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>UploadHandler</description>
		<servlet-name>UploadHandler</servlet-name>
		<servlet-class>handlers.UploadHandler</servlet-class>
		<multipart-config>
			<max-file-size>10485760</max-file-size>
			<max-request-size>20971520</max-request-size>
			<file-size-threshold>5242880</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadHandler</servlet-name>
		<url-pattern>/logged/uploadHandler</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
</web-app>